vpc = {
  aws_region           = "eu-west-2"
  availability_zones   = ["eu-west-2a", "eu-west-2b"]
  cidr_block           = "10.10.0.0/16"
  enable_dns_support   = true
  enable_dns_hostnames = true
  control_plane_names  = ["taskapp-development"]
  enable_nat_gateway   = true
  nat_gateway_count    = 1
  name_prefix          = "taskapp-dev"
  tags = {
    Environment = "development"
    Project     = "jb1-project"
  }
}
