s3_backend = {
  aws_region_main         = "eu-west-2"
  aws_region_backup       = "eu-west-1"
  bucket_name             = "jb1-project-production-tf-state"
  force_destroy           = false
  enable_versioning       = true
  enable_replication      = true
  dynamodb_read_capacity  = 20
  dynamodb_write_capacity = 20
  name_prefix             = "taskapp-prod"
  tags = {
    Environment = "production"
    Project     = "jb1-project"
  }
}
